// 按鈕顏色
.btn-outline-brown {
  border-color: rgb(109, 77, 67);
  color: rgb(109, 77, 67);
  font-weight: bold;

  &:hover:not(:disabled) {
    // 滑過時的背景與文字顏色
    background-color: rgb(109, 77, 67);
    border-color: rgb(109, 77, 67);
    color: white;
  }

  &:disabled {
    opacity: 0.6;
    color: rgb(246, 133, 105);
    pointer-events: none;

    .custom-loading {
      color: rgb(246, 133, 105);
    }
  }
}

.btn-outline-brown-sm {
  border-color: rgb(109, 77, 67);
  color: rgb(109, 77, 67);
  font-weight: bold;

  &:hover:not(:disabled) {
    // 滑過時的背景與文字顏色
    background-color: rgb(109, 77, 67);
    border-color: rgb(109, 77, 67);
    color: white;
  }

  &:disabled {
    opacity: 0.6;
    color: rgb(114, 90, 83);
    pointer-events: none;

    .custom-loading {
      color: rgb(114, 90, 83);
    }
  }
}

.btn-brown {
  background-color: rgb(109, 77, 67);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  line-height: 1.5;

  &:hover:not(:disabled) {
    // 滑過時的背景與文字顏色
    background-color: rgb(245, 197, 185);
    color: white;
  }
}

.btn-deepPink {
  background-color: rgb(245, 197, 185);
  color: white;
  font-weight: bold;
  border-radius: 15px;

  &:hover {
    // 滑過時的背景與文字顏色
    background-color: rgb(253, 229, 223);
  }
}

.bg-deepPink {
  background-color: rgb(245, 197, 185);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 0.5em 1em;
  font-size: 1.3rem;
  line-height: 1.5;

  &:hover {
    // 滑過時的背景與文字顏色
    background-color: rgb(253, 229, 223);
    color: rgb(109, 77, 67);
  }
}

.btn-pink {
  background-color: rgb(250, 186, 170);
  color: white;
  font-weight: bold;
  border-radius: 15px;
  font-size: 1.1rem;
  border: none;
  line-height: 1.5;
  padding: 0.2em 0.8em;
  box-shadow: 0 5px 12px rgba(116, 75, 63, 0.5);
  transition: all 0.3s ease;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  &:hover {
    transform: translateX(8px);
    background-color: rgb(117, 100, 95);
    color: white;
  }
}